<div class="page-header">
  <h1>Todays Special #<%= @todays_special.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Day menu</dt>
  <dd><%= @todays_special.day_menu_id %></dd>

  <dt>Item menu</dt>
  <dd><%= @todays_special.item_menu_id %></dd>

  <dt>Cuisine</dt>
  <dd><%= @todays_special.cuisine %></dd>

</dl>
