<div class="page-header">
  <h1>Order Link #<%= @order_link.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Order menu</dt>
  <dd><%= @order_link.order_menu_id %></dd>

  <dt>Todays special</dt>
  <dd><%= @order_link.todays_special_id %></dd>

</dl>
