<div class="page-header">
  <h1>Order Menu #<%= @order_menu.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Weekday</dt>
  <dd><%= @order_menu.weekday %></dd>

  <dt>Quantity</dt>
  <dd><%= @order_menu.quantity %></dd>

  <dt>Item bill</dt>
  <dd><%= @order_menu.item_bill %></dd>

</dl>
